/* Style.css */


body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(255, 211, 157);
    text-align: center;
}
.recipe_link{
    font: size 30px;
    color:rgb(10, 8, 8);
    background-color:orange;
    font-family:Impact, "Times New Roman", sans-serif;
    text-align: left;
}

img{
    height:400px;
    width: auto;
}